*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
}
nav {
    padding: 20px;
    padding-left: 10%;
    height: 15vh;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 900;
}
nav ul li img {
    width: 100px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftmain {
    width: 40%;
    margin-left: 5%;
}
.leftmain h1 {
    font-size: 60px;
}
.leftmain p {
    margin: 5% ;
    margin-left: 0%;
}
.leftmain button {
    padding: 15px;
    padding-left: 20px;
    font-size: 18px;
    color: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.rightmain {
    padding: 7%;
    /* margin-left: 5%; */
    margin-left: 10%;
}
.rightmain div img {
    width: 30%;
}
.rightmain div img:first-child {
    margin-right: 20px;
    margin-right: 5%;
}
.rightmain div {
    margin-bottom: 20px;
    margin-right: 5%;
}
/* eska use se img 3 ki size bdha ghata sakte hai */
.rightmain >img {
    width: 64%;
}
